.jobcardcontainer{
    display: grid;
    place-items: center;
    margin: 30px;
}
.jobcard{
    background: white;
    width: 70vw;
    padding: 20px;
}
.jobcard > li{
    display: inline;
    padding-right: 20px;
}